<%- include('../include/navigationbar.ejs') %>

<% if (ereMessage) { %>
    <h2 id="user-validation">
        <%= ereMessage %>
    </h2>
<% } %>

<link rel="stylesheet" href="/css/login.css">

<div class="container-lg mt-5 d-flex justify-content-center">
    <form class="col-6 col-sm-6 col-md-6 col-lg-3 shadow rounded-1" action="/signup" method="post">
      <div class="container-fluid bg-dark p-2 m-0 text-center">
        <span class="fs-5 fw-bolder text-primary">Sign Up</span>
      </div>
      <div class="p-2">
        <label for="email">Email:</label>
        <input type="email" class="form-control form-control-sm border border-dark <%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %> "  placeholder="Enter email" name="email" value="<%= oldInput.email %>">
      </div>
      <div class="p-2">
        <label>Password:</label>
        <input type="password" class="form-control form-control-sm border border-dark <%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>" placeholder="Enter password" name="password" value="<%= oldInput.password %>">
      </div>
      <div class="p-2">
        <label>Confim password:</label>
        <input type="password" class="form-control form-control-sm border border-dark <%= validationErrors.find(e => e.path === 'Conpassword') ? 'invalid' : '' %>" placeholder="Enter password" name="Conpassword" value="<%= oldInput.Conpassword %>">
      </div>
      <div class="p-3 text-center">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary ">SignUp</button>
      </div>
    </form>
  </div>
<%- include('../include/bottm.ejs') %>